[submodule "minimal"]
	path = minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "theonewiththelion.github.io"]
	path = theonewiththelion.github.io
	url = git@github.com:theonewiththelion/theonewiththelion.github.io.git
